@import "../../color.scss";
.post {
	width: 37rem;
	color: $light;

	& > * {
		width: 100%;
	}
	&-header {
		height: 3rem;
		.profile-icon {
			height: 80%;
		}
	}
	&-main {
		width: 100%;
		height: 30rem;
		background-position: top;
		background-size: cover;
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&-footer {
		.interaction {
			.icon {
				font-size: 1.5rem;
				cursor: pointer;
			}
		}
		.caption {
			&-username {
				font-weight: bold;
			}
		}
	}
}
.image-added {
	height: 15rem;
}
